/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.about_me_container {
    width: 100%;
    padding: 50px 8%;
    overflow: hidden;
}

.about_me_contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}

.imageSection {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.imageSection::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    outline: 3px solid #fff;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infoSection h1 {
    color: #dedce1;
    font-size: 3vw;
    font-family: "Dahlia";
    display: inline-block;
    margin-bottom: 3vh;
    position: relative;
}

.infoSection h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #fff;
}

.infoSection h1::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #fff;
}

.infoSection p {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-family: "Inter";
    text-align: justify;
    padding-bottom: 8px;
}

/* Animations */
#animatedtext {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}

#animatedheader {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

#imageanimated {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1.7s ease-out, opacity 1.7s ease-out;
}

#imageanimated {
    transform: translateX(-200%);
}

#animatedheader.animate,
#imageanimated.animate {
    transform: translateX(0);
    opacity: 1;
}

#animatedtext.animate {
    transform: translateX(0);
    opacity: 0.7;
}

p,
a {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.5;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#logo {
    font-family: 'Dahlia';
    font-size: 40px;
    opacity: 1;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    margin-top: -20px;
    cursor: default;
}

.nav-links {
    display: flex;
    gap: 2em;
    cursor: default;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.shadow-overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 10vh;
    pointer-events: none;
    z-index: 4;
}

.shadow-overlay.top {
    top: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8) 40%,
            rgba(0, 0, 0, 0) 100%);
}

.shadow-overlay.bottom {
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8) 40%,
            rgba(0, 0, 0, 0) 100%);
}

/* SVG WAVY LINES */
a-waves {
    --x: -0.5rem;
    --y: 50%;

    position: fixed;
    background: black;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 0.5rem;
        height: 0.5rem;

        background: #fff;
        border-radius: 50%;

        transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);

        will-change: transform;

        content: "";
    }

    svg {
        display: block;

        width: 100%;
        height: 100%;

        path {
            fill: none;
            stroke: #444444;
            stroke-width: 1px;
        }
    }
}

@font-face {
    font-family: 'Dahlia';
    src: url('./fonts/dahlia-medium.woff2');
}

/* Responsive Design */
@media (max-width: 768px) {
    .about_me_contents {
        margin-top: 12vh;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .imageSection {
        height: 300px;
        margin-bottom: 2vh;
    }

    .infoSection h1 {
        font-size: 24px;
    }

    .infoSection p {
        font-size: 16px;
        margin-bottom: 10vh;
    }

    nav {
        padding: 1.5em;
        flex-direction: column;
        gap: 1em;
    }

    .nav-links {
        gap: 1em;
    }

    p,
    a {
        font-size: 15px;
    }

    p#logo {
        font-size: 32px;
    }

    footer {
        padding: 1.5em;
    }

    .shadow-overlay {
        height: 25vh;
    }
}